<template lang="pug">
  v-container(fluid grid-list-md pa-3)
    v-progress-linear.smprogress(color="green" indeterminate :active="loading" :height="3")
    challenge-edit-modal(@close="closeEditChallengeModal")
    v-tooltip(left)
      v-fab-transition(slot="activator")
        v-btn(color="red" fab dark bottom right fixed v-show="isAuth" @click="showEditChallengeModal(null)")
          v-icon add
      span Create new challenge
    v-layout(row wrap)
      v-flex(xs6)
        h1.light-headline Challenges
      v-spacer
      v-flex(xs2 text-xs-right)
        v-btn(flat @click="swHideSolved = !swHideSolved")
          v-icon.pr-1(small) {{ !swHideSolved ? "visibility_off": "visibility" }} 
          | {{ !swHideSolved ? 'Hide' : 'Show' }} solved
      v-flex(xs2)
        v-select(
            v-model="slSort"
            :items="slSortItems"
            item-value="id"
            @change="sortChallenges"
            label="Sort by"
            solo
            flat
            height="20"
            hide-details
            prepend-inner-icon="sort"
            single-line)
    v-divider(class="mb-3 mt-1")
    v-layout(row wrap)
      v-flex(highlight d-flex xs12 md4 sm6 v-for="c in challenges" :key='c.id')
        v-card(dark ripple :to="getLink(c)" router)
          v-card-title.title.pt-4(primary) {{ c.title }}
          v-card-text.md.pt-2.mb-4(v-html="marked((c.shortDesc || ''))")
          v-card-actions(style='position: absolute; bottom: 0; width: 100%; padding: 10px')
            <span class="card-meta">
              <v-icon small>stars</v-icon> {{ c.point }} &nbsp;&nbsp;&nbsp;
              <v-icon small>face</v-icon> {{ c.solvedBy }}
            </span>&nbsp;&nbsp;&nbsp;
            v-chip(outline small color="grey darken-2" v-if="c.languages && c.languages.length > 0") <!--TODO: Limit width size-->
              v-icon.lang-meta-icon(v-for="lang, idx in sortLanguages(c.languages)" :key="idx" color="grey") {{langIcon(lang)}}
            v-tooltip(top v-if="isEditable(c.postedBy)")
              v-btn.ma-0.pa-0(small fab flat color="grey" slot="activator" 
                @click.prevent="showEditChallengeModal(c.id)")
                v-icon edit
              span Edit this challenge
            v-spacer
            v-tooltip(top v-if="c.leagues && c.leagues.length")
              v-icon.pr-2(color="yellow darken-1" slot="activator") flare
              span This challenge belong to {{ c.leagues.length }} {{ c.leagues.length > 1 ? 'leagues' : 'league' }}
            v-tooltip(top v-if="c.disabled")
              v-icon.pr-1(color="red darken-1" slot="activator") visibility_off
              span This challenge is temporary disabled
            v-tooltip(top v-if="isSolved(c.id)")
              v-icon(color="green accent-3" slot="activator") check
              span You solved this challenge
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import { role, eventBus, httpCfg } from "~/util/util";

import ChallengeEditModal from "@/components/modals/ChallengeEditModal";

export default {
  // middleware: 'auth', // Uncomment to require login before loading this page
  data() {
    return {
      swHideSolved: false,
      challenges: [],
      allChallenges: [],
      solvedChallenges: [],
      dialog: false,
      cid: null, // for editing challenge,
      loading: false,
      slSort: 1,
      slSortItems: [
        { id: 0, text: "Most solved" },
        { id: 1, text: "Difficulty (easy)" },
        { id: 2, text: "Difficulty (hard)" },
        { id: 3, text: "Date added (newest)" },
        { id: 4, text: "Date added (oldest)" }
      ]
    };
  },
  components: { ChallengeEditModal },
  computed: {
    ...mapGetters(["authUser", "settings"]),
    isAuth() {
      return this.authUser && this.authUser.uid;
    }
  },
  methods: {
    ...mapMutations(["setTitle", "setSettings"]),
    loadChallenges() {
      this.loading = true;
      this.$axios
        .get(`/v1/dev/challenges`, httpCfg)
        .then(res => {
          if (res) {
            this.allChallenges = res.data;
            this.loadSolvedChallenges();
          }
        })
        .catch(err => {
          eventBus.snackbarShown({
            type: "error",
            msg: `Failed to load challenges: ${err}`
          });
        })
        .finally(() => {
          this.loading = false;
        });
    },
    loadSolvedChallenges() {
      if (!this.isAuth) {
        // Only load solved challenges for logged in user
        return;
      }
      this.$axios
        .get(`/v1/usc/u/${this.authUser.uid}`, httpCfg)
        .then(res => {
          if (res) {
            this.solvedChallenges = res.data;
          }
        })
        .catch(err => {
          console.error("Error getting solved data", err);
          eventBus.snackbarShown({
            type: "error",
            msg: `Failed to load solved challenges: ${err}`
          });
        });
    },
    refreshChallenges() {
      this.challenges = JSON.parse(JSON.stringify(this.allChallenges)); // Cloning instead of referencing
      if (!this.swHideSolved) {
        this.sortChallenges(this.slSort);
        return;
      }
      // Remove solved items from showing list
      for (let sc of this.solvedChallenges) {
        for (let i = 0; i < this.challenges.length; i++) {
          if (sc.isSolved && this.challenges[i].id === sc.cid) {
            this.challenges.splice(i, 1);
          }
        }
      }
      this.sortChallenges(this.slSort)
    },
    isSolved(val) {
      return this.solvedChallenges.some(sc => sc.cid === val && sc.isSolved);
    },
    isEditable(val) {
      if (!this.isAuth) {
        return;
      }
      return (
        this.authUser.uid === val || this.authUser.role === role.Administrator
      );
    },
    getLink(c) {
      if (this.isAuth && this.authUser.role === role.Administrator) {
        return `/arena/programming/${c.id}`;
      }
      return c.disabled === true ? "" : `/arena/programming/${c.id}`;
    },
    sortLanguages(langs) {
      return JSON.parse(JSON.stringify(langs)).sort((a, b) => {
        return a > b;
      });
    },
    editChallenge(cid) {
      this.cid = cid;
      this.dialog = true;
    },
    closeEditChallengeModal() {
      this.cid = null;
      this.dialog = false;
      // this.loadChallenges();
    },
    showEditChallengeModal(cid) {
      eventBus.editChallengeModalToggled(cid);
    },
    sortChallenges(selected) {
      // Update challengeSortBy settings
      let settings = JSON.parse(JSON.stringify(this.settings))
      settings.challengeSortBy = selected
      this.setSettings(settings)

      switch (selected) {
        case 0: // Most solved
          this.challenges = this.challenges.sort((a, b) => {
            if (a.solvedBy === b.solvedBy) {
              if (a.point === b.point) {
                return a.createdAt - b.createdAt
              }
              return a.point - b.point
            }
            return b.solvedBy - a.solvedBy
          })
          break
        case 1: // Difficulty ascending
          this.challenges = this.challenges.sort((a, b) => {
            if (a.point === b.point) {
              return a.createdAt - b.createdAt
            }
            return a.point - b.point
          })
          break
        case 2: // Difficulty descending
          this.challenges = this.challenges.sort((a, b) => {
            if (a.point === b.point) {
              return a.createdAt - b.createdAt
            }
            return b.point - a.point
          })
          break
        case 3: // Date added (newest)
          this.challenges = this.challenges.sort((a, b) => {
            return b.createdAt - a.createdAt
          })
          break
        case 4: // Date added (oldest)
          this.challenges = this.challenges.sort((a, b) => {
            return a.createdAt - b.createdAt
          })
          break
      }
    }
  },
  watch: {
    settings(val) {
      if (val) {
        this.swHideSolved = val.hideSolved;
        this.slSort = val.challengeSortBy;
      }
    },
    swHideSolved(val) {
      this.refreshChallenges();
    },
    solvedChallenges(val) {
      this.refreshChallenges();
    },
    allChallenges(val) {
      this.refreshChallenges();
    }
  },
  created() {
    eventBus.$on("loginUser", () => {
      this.loadSolvedChallenges(); // Refresh solved list
    });
    eventBus.$on("logoutUser", () => {
      this.solvedChallenges = [];
    });
    eventBus.$on('challengeUpdated', this.loadChallenges);

    this.setTitle('<span class="white--text">Programming</span>');
  },
  beforeDestroy() {
    eventBus.$off("loginUser", () => {
      this.loadSolvedChallenges(); // Refresh solved list
    });
    eventBus.$off("logoutUser", () => {
      this.solvedChallenges = [];
    });
    eventBus.$off('challengeUpdated', this.loadChallenges);
  },
  mounted() {
    this.loadChallenges();
    let settings = JSON.parse(JSON.stringify(this.settings))
    this.swHideSolved = settings.hideSolved
    this.slSort = !settings.challengeSortBy ? (settings.challengeSortBy === 0 ? 0 : 1) : settings.challengeSortBy // Default sort easy challenges first
  }
};
</script>

<style>
span.card-meta,
span.card-meta > i {
  color: rgba(255, 255, 255, 0.61) !important;
}

.highlight > a:hover,
.highlight > a:focus,
.highlight > a:active {
  -webkit-box-shadow: inset 0 0 0 2px #00e676 !important;
  -moz-box-shadow: inset 0 0 0 2px #00e676 !important;
  box-shadow: inset 0 0 0 2px #00e676 !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-padding {
  padding: 0;
}

.md > p > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
</style>

<style scoped>
i.lang-meta-icon {
  font-size: 0.95rem !important;
  margin-right: 3px;
}
</style>

<style lang="stylus" scoped>
.v-progress-linear {
  &.smprogress {
    margin-top: -12px;
  }
}
</style>
