<template lang="pug">
v-container(fluid)
  v-layout
    v-flex.xs12
      v-card
        v-card-title(primaryTitle)
          span.headline Post Challenge
          v-spacer
          v-text-field(v-model='cid', label='input existed challenge id:', @keyup.enter='getChallenge')
        v-card-text.pt-0
          h3(style='color: #66BB6A') Metas
          v-form
            v-layout
              v-flex.xs4
                v-text-field(label='Title', v-model='c.title', required)
              v-flex.xs7.pl-3.pr-3
                v-textarea(label='Short description', v-model='c.shortDesc', outline, required)
              v-flex.xs1
                v-text-field(label='Points', v-model='c.point', required)
            v-textarea(label='Description', v-model='c.description', outline, required)
            v-checkbox(label='Disabled', v-model='c.disabled', color='info')
          h3.mt-4.mb-2(style='color: #66BB6A') Templates, Fixtures and Test cases
          v-select(v-bind:items='slLanguages', v-model='code.language', hint='Choose language', persistent-hint, solo, light, label='Select language')
          v-layout(justify-space-around)
            v-flex
              v-textarea(label='Template', v-model='code.template', outline, required)
            v-flex.pr-2.pl-2
              v-textarea(label='Fixture', v-model='code.fixture', outline, required)
            v-flex
              v-textarea(label='Test Cases', v-model='code.testCase', outline, required)
          v-btn(flat, outline, color='success', @click='appendData', :disabled='!code.language') Set {{code.language}} data to challenge
          h3.mt-4(style='color: #66BB6A') Use YML
          v-textarea(label='YML Content', v-model='ymlContent', outline, required)
          h3.mt-4(style='color: #66BB6A') Preview
          pre.json {{ this.c | toJSON }}
        v-card-actions
          v-spacer
          v-btn(color='secondary', @click='clearData') Clear all
          v-btn(color='secondary', @click='clearCurrentData') Clear current
          v-btn(color='primary', @click='generateData') Generate templates
          v-btn(color='info', @click='postChallenge') Post challenge

</template>

<script>

  import {role, time, eventBus, httpCfg} from '~/util/util'
  import {mapGetters, mapMutations} from 'vuex'

  let defaultChallenge = {
    title: '',
    shortDesc: '',
    description: '',
    point: 100,
    solvedBy: 0,
    disabled: true,
    codes: []
  }
  const defaultData = {
    language: '',
    template: '',
    fixture: '',
    testCase: '',
    timeout: 60000
  }

  export default {
    data () {
      return {
        cid: null,
        c: defaultChallenge,
        code: {
          language: '',
          template: '',
          fixture: '',
          testCase: '',
          timeout: 60000
        },
        slLanguages: [
          {text: 'C', value: 'c'},
          {text: 'C++', value: 'cpp'},
          {text: 'Go', value: 'go'},
          {text: 'Java', value: 'java'},
          {text: 'Javascript', value: 'javascript'},
          {text: 'Kotlin', value: 'kotlin'},
          {text: 'Python3', value: 'python3'}
        ],
        loading: false,
        ymlContent: ''
      }
    },
    computed: {
      ...mapGetters(['authUser'])
    },
    watch: {
      authUser (val) {
        if (!val || val.role !== role.Administrator) {
          location.href = '/'
        }
      },
      'code.language' (val) {
        for (let code of this.c.codes) {
          if (code.language === val) {
            this.code = JSON.parse(JSON.stringify(code)) // Load appended data to form
            return
          }
        }
        // Otherwise reset to default
        this.code = JSON.parse(JSON.stringify(defaultData))
        this.code.language = val
      }
    },
    methods: {
      ...mapMutations(['setDrawer', 'setTitle']),
      appendData () {
        for (let i = 0; i < this.c.codes.length; i++) {
          if (this.c.codes[i].language === this.code.language) {
            this.$set(this.c.codes, i, JSON.parse(JSON.stringify(this.code)))
            // hey should in there
            // this.c.data[i] = JSON.parse(JSON.stringify(this.data)) // Overwrite form data in challenge
            return
          }
        }
        // Put form data to challenge
        this.c.codes.push(JSON.parse(JSON.stringify(this.code)))
      },
      postChallenge () {
        this.loading = true
        let p
        if (this.cid) {
          p = this.$axios.patch(`/v1/dev/challenges/${this.cid}`, this.c, httpCfg)
        } else {
          this.c.createdAt = time.now()
          this.c.postedBy = this.authUser.uid
          p = this.$axios.post(`/v1/dev/challenges`, this.c, httpCfg)
        }
        p
          .then((res) => {
            console.log('challenge created', res.data)
            eventBus.snackbarShown({type: 'success', msg: 'Challenge saved. Please find more info from console!'})
            if (!this.cid) {
              // we'll keep the data when modified for easy check and update
              this.cid = null
              this.c = defaultChallenge
              this.code = defaultData
            }
            this.loading = false
          })
          .catch((err) => {
            this.loading = false
            console.error('Error saving challenge', err)
            eventBus.snackbarShown({type: 'error', msg: `Failed to save challenge: ${err}`})
          })
      },
      getChallenge () {
        this.$axios.get(`/v1/dev/challenges/f/${this.cid}/u/${this.authUser.uid}`, httpCfg)
          .then((res) => {
            this.c = res.data || defaultChallenge
            delete this.c['id']
            this.code = (this.c.codes || []).length ? this.c.codes[0] : defaultData
          })
          .catch((err) => {
            eventBus.snackbarShown({type: 'error', msg: `Failed to load challenge ${this.cid} due to ${err}`})
          })
      },
      clearData () {
        this.cid = ''
        this.c = {}
        this.code = JSON.parse(JSON.stringify(defaultData))
        this.ymlContent = ''
      },
      clearCurrentData () {
        this.code = JSON.parse(JSON.stringify(defaultData))
      },
      generateData () { // TODO
        if (this.ymlContent && this.ymlContent.length) {
          this.$axios.post(`/v1/gen`, this.ymlContent, httpCfg)
            .then((res) => {
              console.log(res.data)
              res.data.forEach(element => {
                if (!element.timeout) {
                  element.timeout = defaultData.timeout
                }
              })
              this.c.codes = res.data
            })
            .catch((err) => {
              eventBus.snackbarShown({type: 'error', msg: `Failed to generate data due to ${err}`})
            })
        }
      }
    },
    filters: {
      toJSON (val) {
        return JSON.stringify(val, null, 2)
      }
    },
    mounted () {
      if (!this.authUser || this.authUser.role !== role.Administrator) {
        location.href = '/'
      }
      this.setDrawer(false)
      this.setTitle('<span class="white--text">Administrator</span>')
      eventBus.drawerToggled(false)
    }
  }
</script>

<style scoped>
  pre.json {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
</style>
