<template>
  <svg
    version="1.1"
    id="Capa_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 512 512"
    style="enable-background:new 0 0 512 512;"
    xml:space="preserve"
  >
    <g>
      <polyline
        style="fill:#81B4A7;"
        points="369.56,299.579 329.745,257.816 256,327.948 299.621,369.432 	"
      ></polyline>
      <polyline
        style="fill:#81B4A7;"
        points="256,180.464 98.885,15.662 10,10.314 15.355,99.09 182.255,257.816 	"
      ></polyline>
    </g>
    <path
      style="fill:#FFC477;"
      d="M433.242,433.038c-7.993,7.984-11.925,18.488-11.794,28.951l-70.159-70.073
	c5.016-8.076,11.03-15.706,18.043-22.71s14.652-13.01,22.738-18.021l70.159,70.073C451.753,421.128,441.236,425.055,433.242,433.038
	z"
    ></path>
    <path
      style="fill:#898890;"
      d="M284.399,409.828c8.079-28.989,23.53-56.359,46.353-79.154
	c22.823-22.795,50.226-38.227,79.251-46.297l11.883,53.352c-19.247,5.818-37.367,16.311-52.553,31.478s-25.691,33.265-31.516,52.488
	L284.399,409.828z"
    ></path>
    <path
      style="fill:#FF9929;"
      d="M433.242,489.929c15.729,15.71,41.231,15.71,56.961,0c15.729-15.71,15.729-41.181,0-56.891
	s-41.231-15.71-56.961,0C417.513,448.748,417.513,474.219,433.242,489.929z"
    ></path>
    <path
      style="fill:#F6DAB9;"
      d="M392.462,433.038c11.261,11.247,29.519,11.247,40.78,0s11.261-29.483,0-40.731
	c-11.261-11.247-29.519-11.247-40.78,0C381.201,403.555,381.201,421.791,392.462,433.038z"
    ></path>
    <path
      d="M64.07,74.323c-0.65,0-1.31-0.07-1.95-0.2s-1.27-0.32-1.87-0.57c-0.61-0.25-1.19-0.56-1.73-0.92
	c-0.55-0.36-1.06-0.78-1.52-1.24s-0.88-0.98-1.24-1.52c-0.36-0.55-0.67-1.13-0.92-1.73s-0.45-1.23-0.57-1.87
	c-0.13-0.65-0.2-1.3-0.2-1.95c0-0.66,0.07-1.31,0.2-1.96c0.12-0.64,0.32-1.27,0.57-1.87s0.56-1.18,0.92-1.73
	c0.36-0.54,0.78-1.05,1.24-1.52c0.46-0.46,0.97-0.88,1.52-1.24c0.54-0.36,1.12-0.67,1.73-0.92c0.6-0.25,1.23-0.44,1.87-0.57
	c1.29-0.26,2.61-0.26,3.9,0c0.64,0.13,1.27,0.32,1.87,0.57c0.61,0.25,1.19,0.56,1.73,0.92c0.55,0.36,1.06,0.78,1.52,1.24
	c0.46,0.47,0.88,0.98,1.24,1.52c0.36,0.55,0.67,1.13,0.92,1.73s0.45,1.23,0.58,1.87c0.13,0.65,0.19,1.3,0.19,1.96
	c0,2.63-1.07,5.2-2.93,7.07c-0.46,0.46-0.97,0.88-1.52,1.24c-0.54,0.36-1.12,0.67-1.73,0.92c-0.6,0.25-1.23,0.44-1.87,0.57
	S64.72,74.323,64.07,74.323z"
    ></path>
    <path
      style="fill:#FFC477;"
      d="M78.758,433.038c7.993,7.984,11.925,18.488,11.794,28.951l70.159-70.073
	c-5.016-8.076-11.03-15.706-18.043-22.71s-14.652-13.01-22.738-18.021l-70.159,70.073C60.247,421.128,70.764,425.055,78.758,433.038
	z"
    ></path>
    <polyline
      style="fill:#B0DBD0;"
      points="212.379,369.432 496.646,99.09 502,10.314 413.115,15.662 142.44,299.579 "
    ></polyline>
    <path
      style="fill:#898890;"
      d="M227.601,409.828c-8.079-28.989-23.53-56.359-46.353-79.154
	c-22.823-22.795-50.226-38.227-79.251-46.297l-11.883,53.352c19.247,5.818,37.367,16.311,52.553,31.478s25.691,33.265,31.516,52.488
	L227.601,409.828z"
    ></path>
    <path
      style="fill:#FF9929;"
      d="M78.758,489.929c-15.729,15.71-41.231,15.71-56.961,0c-15.729-15.71-15.729-41.181,0-56.891
	s41.231-15.71,56.961,0C94.487,448.748,94.487,474.219,78.758,489.929z"
    ></path>
    <path
      style="fill:#F6DAB9;"
      d="M119.538,433.038c-11.261,11.247-29.519,11.247-40.78,0s-11.261-29.483,0-40.731
	c11.261-11.247,29.519-11.247,40.78,0C130.799,403.555,130.799,421.791,119.538,433.038z"
    ></path>
    <path
      d="M447.93,74.313c-0.65,0-1.31-0.06-1.95-0.19c-0.64-0.13-1.27-0.32-1.88-0.57c-0.6-0.25-1.18-0.56-1.72-0.92
	c-0.55-0.36-1.06-0.78-1.52-1.24c-1.86-1.86-2.93-4.44-2.93-7.07c0-0.66,0.07-1.31,0.2-1.96c0.12-0.64,0.32-1.27,0.57-1.87
	s0.55-1.18,0.92-1.73c0.36-0.54,0.78-1.05,1.24-1.52c0.46-0.46,0.97-0.87,1.52-1.24c0.54-0.36,1.12-0.67,1.72-0.92
	c0.61-0.25,1.24-0.44,1.88-0.57c1.29-0.26,2.61-0.26,3.9,0c0.64,0.13,1.27,0.32,1.87,0.57c0.61,0.25,1.19,0.56,1.73,0.92
	c0.55,0.37,1.06,0.78,1.52,1.24c0.46,0.47,0.88,0.98,1.24,1.52c0.36,0.55,0.67,1.13,0.92,1.73s0.45,1.23,0.57,1.87
	c0.13,0.65,0.2,1.3,0.2,1.96c0,2.63-1.07,5.21-2.93,7.07c-0.46,0.46-0.97,0.88-1.52,1.24c-0.54,0.36-1.12,0.67-1.73,0.92
	c-0.6,0.25-1.23,0.44-1.87,0.57S448.58,74.313,447.93,74.313z"
    ></path>
    <path
      d="M497.27,425.963c-8.555-8.544-19.45-13.358-30.644-14.444l-26.221-26.188c-0.032-0.032-0.064-0.065-0.096-0.097
	c-0.031-0.031-0.063-0.062-0.094-0.093L408.6,353.566c5.225-2.489,10.635-4.588,16.179-6.263c5.011-1.515,8.005-6.637,6.867-11.746
	l-11.882-53.352c-0.596-2.677-2.266-4.992-4.617-6.402s-5.179-1.794-7.822-1.059c-12.021,3.342-23.668,7.872-34.769,13.487
	l-28.664-30.067l159.646-151.826c1.833-1.744,2.938-4.118,3.09-6.644l5.354-88.776c0.172-2.856-0.887-5.649-2.91-7.673
	c-2.023-2.023-4.81-3.085-7.672-2.911L412.515,5.68c-2.522,0.152-4.894,1.253-6.637,3.082L256,165.971L106.123,8.761
	c-1.744-1.829-4.115-2.93-6.637-3.082L10.601,0.332C7.746,0.157,4.951,1.22,2.928,3.243s-3.083,4.817-2.91,7.673l5.354,88.776
	c0.152,2.526,1.257,4.9,3.09,6.644l159.646,151.826l-28.665,30.067c-11.101-5.615-22.748-10.145-34.769-13.487
	c-2.643-0.733-5.47-0.352-7.822,1.059c-2.352,1.41-4.021,3.725-4.617,6.402l-11.883,53.352c-1.138,5.109,1.856,10.231,6.867,11.746
	c5.544,1.676,10.954,3.775,16.179,6.264l-31.621,31.581c-0.029,0.029-0.059,0.058-0.088,0.087c-0.03,0.03-0.06,0.061-0.09,0.091
	l-26.228,26.194c-11.193,1.086-22.089,5.901-30.643,14.445C5.232,435.45,0,448.065,0,461.484c0,13.418,5.231,26.033,14.73,35.521
	c9.801,9.788,22.674,14.682,35.547,14.682s25.747-4.894,35.547-14.682c8.338-8.328,13.387-19.065,14.497-30.64l58.014-57.941
	c2.495,5.223,4.598,10.63,6.278,16.172c1.3,4.291,5.247,7.101,9.563,7.101c0.718,0,1.447-0.078,2.176-0.239l53.417-11.868
	c2.679-0.596,4.996-2.266,6.407-4.619c1.411-2.354,1.793-5.184,1.057-7.828c-3.345-12.001-7.877-23.63-13.495-34.713L256,341.748
	l32.262,30.681c-5.618,11.083-10.151,22.712-13.495,34.713c-0.737,2.644-0.354,5.474,1.057,7.828
	c1.412,2.354,3.728,4.023,6.407,4.619l53.417,11.868c0.729,0.162,1.457,0.239,2.176,0.239c4.316,0,8.263-2.811,9.563-7.101
	c1.679-5.542,3.783-10.949,6.278-16.172l58.014,57.941c1.11,11.575,6.159,22.312,14.497,30.639l0,0
	c9.801,9.788,22.674,14.682,35.547,14.682s25.747-4.894,35.547-14.683c9.499-9.487,14.73-22.102,14.73-35.521
	C512,448.065,506.769,435.45,497.27,425.963z M426.083,399.292l0.188,0.188c3.494,3.54,5.417,8.219,5.417,13.193
	c0,5.02-1.958,9.739-5.513,13.29c-7.347,7.337-19.3,7.338-26.646,0l0,0c-3.555-3.55-5.512-8.27-5.512-13.289
	c0-5.02,1.958-9.74,5.512-13.29c3.674-3.669,8.498-5.503,13.324-5.503C417.637,393.88,422.422,395.685,426.083,399.292z
	 M354.712,298.496c-8.367,5.433-16.322,11.527-23.774,18.229l-23.717-23.688l22.179-21.092L354.712,298.496z M25.099,94.557
	l-4.438-73.584l73.699,4.434l147.824,155.056l-23.254,24.391L100.24,86.31c-3.908-3.903-10.24-3.899-14.142,0.008
	c-3.903,3.908-3.899,10.239,0.008,14.142l119.019,118.873l-23.217,24.353L25.099,94.557z M99.148,393.88
	c4.824,0,9.65,1.835,13.323,5.503c3.555,3.551,5.513,8.271,5.513,13.291c0,5.02-1.958,9.739-5.512,13.289l0,0
	c-7.347,7.337-19.3,7.337-26.647,0c-3.555-3.55-5.512-8.27-5.512-13.289c0-4.977,1.925-9.659,5.422-13.199l0.179-0.179
	C89.575,395.685,94.361,393.88,99.148,393.88z M71.691,482.854c-11.807,11.793-31.019,11.793-42.827,0
	C23.148,477.145,20,469.556,20,461.484s3.148-15.662,8.864-21.37c5.904-5.897,13.658-8.845,21.414-8.845
	c7.754,0,15.51,2.949,21.413,8.845c5.716,5.708,8.864,13.298,8.864,21.37S77.407,477.145,71.691,482.854L71.691,482.854z
	 M136.495,401.97c-1.789-6.264-5.152-12.005-9.89-16.738c-4.824-4.818-10.612-8.1-16.75-9.848l11.333-11.318
	c5.117,3.667,9.944,7.752,14.413,12.217c4.465,4.459,8.55,9.274,12.219,14.378L136.495,401.97z M180.748,409.993
	c-6.804-17.874-17.412-34.276-31.014-47.862c-13.6-13.583-30.021-24.177-47.912-30.972l7.573-34.002
	c24.255,8.413,46.485,22.314,64.786,40.592c18.293,18.271,32.208,40.464,40.63,64.676L180.748,409.993z M195.213,330.86
	l230.681-230.399c3.908-3.903,3.911-10.234,0.008-14.142c-3.903-3.907-10.234-3.912-14.142-0.008L181.063,316.725
	c-7.452-6.702-15.407-12.796-23.774-18.229L417.64,25.407l73.699-4.434l-4.438,73.584L213.459,354.605c-0.005,0.005,0.005-0.005,0,0
	l0,0C208.021,346.248,201.921,338.303,195.213,330.86z M270.511,327.948l22.212-21.124l24.065,24.035
	c-6.709,7.443-12.809,15.389-18.247,23.746L270.511,327.948z M331.252,409.993l-34.063-7.568
	c8.422-24.212,22.337-46.405,40.63-64.676c18.3-18.278,40.53-32.18,64.786-40.592l7.573,34.002
	c-17.891,6.795-34.312,17.389-47.912,30.972C348.664,375.717,338.056,392.12,331.252,409.993z M376.399,376.283
	c4.47-4.464,9.297-8.55,14.414-12.217l11.332,11.318c-6.138,1.748-11.926,5.03-16.75,9.849c-4.739,4.733-8.102,10.474-9.89,16.738
	l-11.325-11.31C367.849,385.556,371.935,380.742,376.399,376.283z M483.136,482.854c-11.808,11.793-31.02,11.793-42.827,0l0,0
	c-5.716-5.709-8.864-13.298-8.864-21.37s3.148-15.662,8.864-21.37c11.808-11.793,31.021-11.792,42.827,0
	c5.716,5.709,8.864,13.298,8.864,21.371C492,469.556,488.852,477.145,483.136,482.854z"
    ></path>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</template>

<script>
export default {
  name: "cf-icon"
};
</script>