<template lang="pug">
  v-container
    v-card(style="margin-top: 60px" v-if="user")
      v-card-title(primary-title)
        span.headline &nbsp;
        v-avatar.prf-avatar.white(size="120")
          img(:src="user.avatar | toAvatarURL" alt="avatar")
        v-spacer
        v-tooltip(top)
          v-btn.ma-0.pa-0(small fab depressed outline color="success" slot="activator" 
            v-if="authUser && authUser.uid === user.uid" 
            @click="editProfile")
            v-icon(small) border_color
          span Edit my profile
      v-card-text.pt-0
        v-layout
          v-flex.xs8.offset-xs2.text-xs-center
            div(style="padding-top: 10px")
              span(style="font-size: 2.5rem; font-weight: 600") {{ user.name }}<br>
            div(v-if="user.about" style="padding-top: 8px")
              span(style="font-size: 1.3rem; font-weight: 300")
                i "{{ user.about }}"
            div.prf-meta(style="padding-top: 16px")
              v-icon.first(small v-if="user.uid") face
              span {{ user.uid }}
              v-icon(small v-if="user.email") alternate_email
              span {{ user.email }}
              v-icon(small v-if="user.team") group
              span {{ user.team }}
              v-icon(small v-if="user.company") location_city
              span {{ user.company }}
              v-icon(small v-if="user.location") location_on
              span {{ user.location }}<br>
            div.prf-rank-meta(style="padding-top: 40px")
              img.rank-icon(:src="getLevelIcon(user.cf.xp)")
              br
              span(style="font-size: 2rem; font-weight: 500") {{ getTextLevel(user.cf.xp) }}<br>
              v-icon.first(small) stars
              span {{ user.cf.xp }}
              v-icon(small) check_circle
              span {{ user.cf.solved }}<br>
              span( style="font-size: 0.8rem; font-weight: 300; float: right") {{ getEarnedXP(user.cf.xp) }}/{{ getNeededXP(user.cf.xp) }}
              v-tooltip(lazy top nudge-right=290 nudge-top=10 class="ml-0")
                v-progress-linear(:value="getPercXP(user.cf.xp)" slot="activator" height="5" color="success")
                span Need <span style="color: #00E676; font-weight: 600">{{getNeededXP(user.cf.xp)-getEarnedXP(user.cf.xp)}}</span> points to level up
        v-layout.pt-5(v-if="logs && logs.length > 0")
          v-flex.xs8.offset-xs2.text-xs-left
            h1(style="font-weight: 400") Battle logs

            v-timeline(dense)
              v-timeline-item(v-for="item in logs" :key="item.id" 
                small fill-dot right
                :color="isUSC(item) ? 'green' : ''" 
                :large="!isUSC(item)"
                :class="!isUSC(item) ? 'hide-timeline-dot': ''")
                template(v-slot:opposite)
                  span {{ item.solvedAt | unixTsToRelativeTime }}
                template(v-slot:icon large)
                  img(v-if="!isUSC(item)" :src="getLevelIcon(item.point)" style="padding-top: 10px; width: 60px")
                  v-icon(v-else small) check
                div(v-if="isUSC(item)")
                  v-tooltip(top lazy)
                    span.log-title(slot="activator") {{ item.solvedAt | unixTsToRelativeTime }}<br/>
                    span {{ item.solvedAt | unixTsToUTC }}
                  span(style="font-size: 1rem; font-weight: 300") Earned <span style="font-weight: 600">{{ item.point }}</span> points by solving <span style="font-weight: 600"><a :href="toChallengePage(item.cid)" target="blank" style="color: white; text-decoration: none">{{ getChallengeName(item.cid) }}</a></span> challenge with record of <span style="font-weight: 600">{{item.fastestRun * 1000 | toFixed4FPs }}ms</span> in <span style="font-weight: 600">{{ item.language }}</span>
                div(v-else)
                  div &nbsp;
                  v-tooltip(top lazy)
                    span.log-title(slot="activator" style="font-weight: 400") {{ item.solvedAt | unixTsToRelativeTime }}<br/>
                    span {{ item.solvedAt | unixTsToUTC }}
                  span(style="color: #66BB6A") Reached <span style="font-weight:600">{{ item.level }}</span> level with <span style="font-weight: 600">{{ item.point }}</span> points
                  div &nbsp;
    user-profile-edit-modal
</template>

<script>
  import {eventBus, httpCfg, level} from '~/util/util'
  import {mapGetters, mapMutations} from 'vuex'
  import UserProfileEditModal from '~/components/modals/UserProfileEditModal'

  export default {
    components: {
      UserProfileEditModal
    },
    data () {
      return {
        id: '',
        user: null,
        logs: [],
        challengeNames: []
      }
    },
    computed: {
      ...mapGetters(['authUser'])
    },
    methods: {
      ...mapMutations(['setTitle', 'setDrawer']),
      loadUserProfile () {
        this.$axios.get(`/v1/users/${this.id}`, httpCfg)
          .then((result) => {
            this.user = result.data
          })
          .catch((err) => {
            console.log(err)
            eventBus.snackbarShown({type: 'error', msg: `Failed to get user profile: ${err}`})
          })
      },
      loadSolvedChallenges () {
        this.$axios.get(`/v1/usc/u/${this.$route.params.id}`, httpCfg)
          .then((res) => {
            if (res) {
              // console.log(JSON.stringify(res.data))
              this.logs = res.data.sort((a, b) => {
                return a.solvedAt < b.solvedAt
              })
              setTimeout(() => {
                this.appendLevelsToBattleLogs()
              }, 500)
              this.resolveChallengeNames()
            }
          })
          .catch((err) => {
            console.error('Error getting solved data', err)
            eventBus.snackbarShown({type: 'error', msg: `Failed to load solved challenges: ${err}`})
          })
      },
      resolveChallengeNames () {
        if (!this.logs.length) {
          return
        }

        let ids = []
        for (let i = 0; i < this.logs.length; i++) {
          ids.push(this.logs[i].cid)
        }
        this.$axios.post(`/v1/dev/challenges/resolve-name`, ids, httpCfg)
          .then((res) => {
            if (res) {
              this.challengeNames = res.data
            }
          })
          .catch((err) => {
            console.error('Error resolve challenge names', err)
          })
      },
      getChallengeName (id) {
        for (let i = 0; i < this.challengeNames.length; i++) {
          if (this.challengeNames[i].id === id) {
            return this.challengeNames[i].title
          }
        }
        return id
      },
      editProfile () {
        eventBus.userProfileEditModalShown(this.user)
      },
      toChallengePage (val) {
        return `/arena/programming/${val}`
      },
      getTextLevel (xp) {
        return level.getTextLevel(xp)
      },
      getEarnedXP (xp) {
        return level.getEarnedXPLevel(xp)
      },
      getNeededXP (xp) {
        return level.getNeededXPLevel(xp)
      },
      getPercXP (xp) {
        return level.getPercLevel(xp)
      },
      getLevelIcon (xp) {
        return level.getLevelIcon(xp)
      },
      appendLevelsToBattleLogs () {
        if (!this.logs || !this.logs.length) {
          return
        }
        let point = 0
        let lastLevel = ""
 
        for (let i = this.logs.length-1; i >= 0; i--) {
          let log = this.logs[i]
          if (this.isUSC(log)) {
            point += log.point
            let textLvl = this.getTextLevel(point)
            if (textLvl != lastLevel) {
              lastLevel = textLvl
              this.logs.splice(i, 0, {level: lastLevel, iconLevel: this.getLevelIcon(point), solvedAt: log.solvedAt, point: point})
              i++
              continue
            }
          }
        }
        // console.log(JSON.stringify(this.logs))
      },
      isUSC(log) {
        return log.cid && log.uid && log.isSolved
      }
    },
    created () {
      eventBus.$on('userProfileUpdated', user => {
        this.user = JSON.parse(JSON.stringify(user))
      })
    },
    mounted () {
      if (!this.$route.params.id) {
        location.href = '/users'
        return
      }
      this.setDrawer(false)
      eventBus.drawerToggled(false)
      this.id = this.$route.params.id
      this.setTitle(`<span class="white--text">Profile &nbsp;&nbsp;/ &nbsp;&nbsp;${this.id}</span>`)
      this.loadUserProfile()
      this.loadSolvedChallenges()
    }
  }
</script>

<style scoped>
.prf-avatar {
  margin: auto;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.prf-avatar > img {
  border: 2px solid #f5f5f5;
}
.prf-meta > span {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.61);
}
.prf-meta > i {
  margin: -4px 5px 0 20px;
  color: rgba(255, 255, 255, 0.61);
}
.prf-meta > i.first {
  margin: -4px 5px 0 0;
}
.prf-rank-meta > span {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.91);
}
.prf-rank-meta > i {
  margin: -4px 5px 0 20px;
  color: rgba(255, 255, 255, 0.91);
}
.prf-rank-meta > i.first {
  margin: -4px 5px 0 0;
}
.rank-icon {
  width: 150px;
  margin-bottom: -30px;
}
.log-title {
  font-size: 1.2rem;
  font-weight: 200;
}
</style>

<style>
.hide-timeline-dot > .v-timeline-item__dot {
  width: 0 !important;
  height: 0 !important;
  margin-left: 25px;
}
</style>