<template lang="pug">
  nuxt
</template>

<script>
export default {
  head() {
    return {
      link: [
        { rel: 'stylesheet', href: '/spectral/assets/css/main.landing.css' }
      ]
    }
  }
}
</script>
