<template lang="pug">
  v-container(v-if="!league || league === {}")
    v-layout.mt-5
      v-flex.sm-12.text-sm-center.mt-5
        v-icon.mb-2(large) sentiment_very_dissatisfied
        h2 Sorry, no league data

  v-container(grid-list-md v-else)
    h1.mt-3.light-headline {{ league.title }}
    span(style="color: rgba(255,255,255,.61); font-weight: 300") {{ getTimeStatus() }}
    v-divider.mt-2
    v-layout.pb-3
      v-flex.xs12.pt-0
        div.md(v-if="league.description" v-html="marked(league.description)")
    div(v-if="leaderboard")
      h1.light-headline Leaderboard
      v-divider.mt-2.mb-3
      v-layout.pb-5
        v-flex.xs12
          v-data-table(v-bind:headers="headers"
            :items="leaderboard"
            item-key="uid"
            v-bind:pagination.sync="pagination"
            :rows-per-page-items="rowsPerPageItems"
            class="elevation-5"
            no-data-text="Be the first one to be named here"
            lazy)
            template(slot="items" slot-scope="props")
              tr(@click.stop="openUserProfile(props.item.uid)" style="cursor: pointer")
                td {{ props.index + 1 }}
                td.text-xs-left
                  v-avatar(color="white" size="32")
                    img(:src="props.item.uid | toAvatarURL")
                td.text-xs-left {{ props.item.uid }}
                td.text-xs-left {{ props.item.solved }}
                td.text-xs-left {{ props.item.point }}
                td.text-xs-left {{ props.item.totalExecTime | toFixed4FPs }}
                td.text-xs-right 
                  v-tooltip(top)
                   span(slot="activator") {{ props.item.lastSolved | unixTsToRelativeTime }}
                   span {{ props.item.lastSolved | unixTsToUTC }}
    div(v-if="challenges && challenges.length")
      h1.light-headline Challenges
      v-divider.mt-2.mb-3
      v-layout.pb-3(row wrap)
        v-flex(d-flex xs12 md4 sm6 highlight v-for="c in challenges" :key='c.id')
          v-card(dark ripple :to="getLink(c)" router)
            v-card-title.title.pt-4(primary) {{ c.title }}
            v-card-text.md-desc.pt-2.mb-4(v-html="marked((c.shortDesc || ''))")
            v-card-actions(style='position: absolute; bottom: 0; width: 100%; padding: 10px')
              <span class="card-meta">
                <v-icon small>stars</v-icon> {{ c.point }} &nbsp;&nbsp;&nbsp;
                <v-icon small>face</v-icon> {{ c.solvedBy }}
              </span>&nbsp;&nbsp;&nbsp;
              v-chip(outline small color="grey darken-2" v-if="c.languages && c.languages.length > 0") <!--TODO: Limit width size-->
                v-icon.lang-meta-icon(v-for="lang, idx in sortLanguages(c.languages)" :key="idx" color="grey") {{langIcon(lang)}}
              v-spacer
              v-tooltip(top v-if="c.leagues && c.leagues.length")
                v-icon.pr-2(color="yellow darken-1" slot="activator") flare
                span This challenge is running in {{ c.leagues.length }} {{ c.leagues.length > 1 ? 'leagues' : 'league' }}
              v-tooltip(top v-if="c.disabled")
                v-icon.pr-1(color="red darken-1" slot="activator") visibility_off
                span This challenge is temporary disabled
              v-tooltip(top v-if="isSolved(c.id)")
                v-icon(color="green accent-3" slot="activator") check
                span You solved this challenge
</template>

<script>
  import {role, eventBus, httpCfg, level} from '~/util/util'
  import {mapGetters, mapMutations} from 'vuex'
  import moment from 'moment'

  export default {
    data () {
      return {
        league: {},
        headers: [
          { text: '#', align: 'left', sortable: false, value: 'order' },
          { text: '', align: 'left', sortable: false, value: '' },
          { text: 'ID', align: 'left', sortable: true, value: 'uid' },
          { text: 'Solved', align: 'left', sortable: true, value: 'solved' },
          { text: 'Point', align: 'left', sortable: true, value: 'point' },
          { text: 'Execution Time (s)', align: 'left', sortable: true, value: 'totalExecTime' },
          { text: 'Last solved', align: 'right', sortable: true, value: 'lastSolved' }
        ],
        pagination: {
          sortBy: 'point',
          descending: true
        },
        rowsPerPageItems: [10, 20, 50, { text: 'All', value: -1 }],
        leaderboard: [],
        challenges: [],
        solvedChallenges: []
      }
    },
    computed: {
      ...mapGetters(['authUser']),
      isAuth () {
        return this.authUser && this.authUser.uid
      }
    },
    methods: {
      ...mapMutations(['setTitle', 'setDrawer']),
      loadLeague () {
        this.$axios.get(`/v1/leagues/${this.$route.params.id}`, httpCfg)
          .then((result) => {
            this.league = result.data
            this.setTitle(`<a href="/leagues">Leagues</a>&nbsp;&nbsp; / &nbsp;&nbsp;${this.league.title}`)
            if (this.league.challenges.length === 0) {
              return Promise.resolve([])
            }
            return this.$axios.get(`/v1/dev/challenges?cids=${this.league.challenges.join(',')}`, httpCfg)
          })
          .then((result) => {
            this.challenges = result.data
            this.sortByPostedTime()

            if (!this.isAuth) {
              return Promise.resolve()
            }

            return this.$axios.get(`/v1/usc/u/${this.authUser.uid}`, httpCfg)
          })
          .then((res) => {
            this.solvedChallenges = res ? res.data : []
          })
          .catch(err => {
            this.league = {}
            eventBus.snackbarShown({type: 'error', msg: `Failed to load league: ${err.message}`})
          })
          .finally(() => {
            this.loading = false
          })
      },
      openUserProfile (uid) {
        window.open(`/users/${uid}`, '_blank')
      },
      getTextLevel (xp) {
        return level.getTextLevel(xp)
      },
      isSolved (val) {
        return this.solvedChallenges
          .some(sc => sc.cid === val && sc.isSolved)
      },
      getLink (c) {
        if (this.isAuth && this.authUser.role === role.Administrator) {
          return `/arena/programming/${c.id}`
        }
        return c.disabled === true ? '' : '/arena/programming/' + c.id
      },
      sortLanguages (langs) {
        return JSON.parse(JSON.stringify(langs)).sort((a, b) => {
          return a > b
        })
      },
      sortByPostedTime () {
        if (!this.challenges || this.challenges.length <= 1) {
          return
        }
        this.challenges = this.challenges.sort((a, b) => {
          return a.createdAt - b.createdAt
        })
      },
      getTimeStatus () {
        if (this.league.isActive) {
          return 'This league is currently active and will end ' + moment(this.league.end * 1000).fromNow()
        }
        if (+new Date() >= this.league.end*1000) {
          return 'This league ended ' + moment(this.league.end * 1000).fromNow()
        }
        return 'This league will be opened ' + moment(this.league.start * 1000).fromNow()
      }
    },
    watch: {
      league (val) {
        this.leaderboard = []
        if (!this.league || !this.league.competitors) {
          return
        }

        this.leaderboard = this.league.competitors.sort((a, b) => {
          if (a.point == b.point) {
            if (a.solved == b.solved) {
              return a.lastSolved - b.lastSolved // Who reach this XP first on top
            }
            return a.solved - b.solved // Who solved less challenges (but got equal XP) on top
          }
          return b.point - a.point // Who has more XP on top
        })
      }
    },
    mounted () {
      this.loading = true
      this.setDrawer(false)
      eventBus.drawerToggled(false)
      this.loadLeague()
    }
  }
</script>

<style>
  .md {
    font-size: 1.1rem;
  }
  .md > ol,
  .md > ul {
    margin-left: 20px;
  }
  .md h3 {
    padding-top: 1rem;
    font-size: 1.4rem;
  }

  .md-desc > p > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  span.card-meta,
  span.card-meta > i {
    color: rgba(255,255,255,.61) !important;
  }

  .highlight > a:hover,
  .highlight > a:focus,
  .highlight > a:active {
    -webkit-box-shadow:inset 0 0 0 2px #00E676;
    -moz-box-shadow:inset 0 0 0 2px #00E676;
    box-shadow:inset 0 0 0 2px #00E676;
  }

  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .no-padding {
    padding: 0;
  }
</style>

<style scoped>
  i.lang-meta-icon {
    font-size: 0.95rem !important;
    margin-right: 3px;
  }
</style>

<style lang="stylus" scoped>
.v-progress-linear
  &.smprogress
    margin-top -12px
</style>
