<template lang="pug">
  v-container
    v-layout.mt-5
      v-flex.xs-1
      v-flex.sm-10.text-sm-center.mt-5
        v-alert(outline :value="true" :type="alertType")
          div(v-html="confirmMsg")
      v-flex.xs-1
</template>

<script>
  import {eventBus, httpCfg} from '~/util/util'
  import {mapMutations} from 'vuex'

  export default {
    data () {
      return {
        alertType: "info",
        token: "",
        confirmMsg: "Please wait. Confirming your email address..."
      }
    },
    methods: {
      ...mapMutations(['setTitle', 'setDrawer']),
      confirm () {
        this.$axios.get(`/v1/confirm?token=${this.token}`, httpCfg)
          .then((res) => {
            this.confirmMsg = "Your email is confirmed.<br>Redirect in 3 seconds..."
            this.alertType = "success"
            eventBus.snackbarShown({type: 'success', msg: 'Email confirmed'})
            this.deleteCookie("cf_confirm")
            this.deleteCookie("cf_confirm", "." + window.location.host)

            setTimeout(() => {
              window.location.href = "/arena/programming";
            }, 3000)
          }).catch((err) => {
            this.confirmMsg = "Failed to verify your email.<br>Please follow the link was sent to your email or request new confirm email in Profile -> Edit"
            this.alertType = "error"
            console.log(err)
            eventBus.snackbarShown({type: 'error', msg: `Failed to verify your email: ${err}`})
          })
      }
    },
    mounted () {
      this.setTitle('<span class="white--text">Confirm')
      this.confirmMsg = "Please wait. Confirming your email address..."
      this.alertType = "info"
      let params = new URLSearchParams(window.location.search)
      if (!params.has("token") || !params.get("token")) {
        this.confirmMsg = "Invalid confirmation token.<br>Please follow the link was sent to your email or request new confirm email in Profile -> Edit"
        this.token = ""
        this.alertType = "error"
        return
      }

      this.token = params.get("token")
      this.confirm()
      // this.setDrawer(false)
      // eventBus.drawerToggled(false)
    }
  }
</script>

<style scoped>
  
</style>
