<template lang="pug">
#landing(:class="landingClasses" v-scroll="bannerScroll" @click="invalidate")
  spectral-menu(
    @close="menu=false"
    :items="[{href: '/arena/programming', label: 'Programming'}]"
  )
  // Page Wrapper
  #page-wrapper
    // Header
    spectral-header(brand="Code Fighter" :transparent="this.altMenu" @menu-click="menu=true")
    // Banner
    spectral-banner(
      header="Code Fighter" 
      content="A life without code<br/>is like a year without summer<br/><strong>crafted</strong> by <a href=\"https://codefighter.app\">RYE Team</a>."
      linktitle="Fight"
      linkto="/arena/programming"
      :more="{text: 'Learn More', target: '#one'}")
    // One
    spectral-section#one(
      :type="1"
      center
      header="You can always dies<br/>It's coding that takes real courage"
      content="Fighting isn't all there is to the Art of War.<br/>The men who think that way, and are satisfied to have food to eat and a place to sleep, are mere vagabonds. A serious student is much more concerned with training his mind and disciplining his spirit than with developing martial skills."
    )
      ul.icons.major
          li
            span.icon.fa-diamond.major.style1
              span.label Lorem
          li
            span.icon.fa-heart-o.major.style2
              span.label Ipsum
          li
            span.icon.fa-code.major.style3
              span.label Dolor
    // Two
    spectral-section#two(
      :type="2"
      alt
    )
      section.spotlight(v-for="l in activeLeagues" :key="l.id")
        .image
          img(:src="l.banner" alt="" width="100%" height="auto")
        .content
          h2(v-html="l.title")
          div(v-html="marked(l.description)")
      section.spotlight(v-for="l in inComingLeagues" :key="l.id")
        .image()
          img(:src="l.banner" alt="" width="100%" height="auto")
        .content
          h2(v-html="l.title")
          div(v-html="marked(l.description)")
      //- section.spotlight
      //-   .image
      //-     img(src="/spectral/images/pic01.jpg" alt="")
      //-   .content
      //-     h2
      //-       | Summer 2019
      //-       br
      //-       |             Greats thing going to happen
      //-     p Join us and participate in greatest challenges on the world.
      //- section.spotlight
      //-   .image
      //-     img(src="/spectral/images/pic02.jpg" alt="")
      //-   .content
      //-     h2
      //-       | Faster you can,
      //-       br
      //-       |             better your got
      //-     p Lot of prices and great opportunities for ya.
      //- section.spotlight
      //-   .image
      //-     img(src="/spectral/images/pic03.jpg" alt="")
      //-   .content
      //-     h2
      //-       | Show us your skill,
      //-       br
      //-       |             Get your hands dirty
      //-     p ----- Hand hand

    // Three
    //- spectral-section#three(
    //-   :type="3"
    //-   center
    //-   header="What are we doing?"
    //-   content="?? ... <br/>fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper."
    //- )
      ul.features
          li.icon.fa-paper-plane-o
            h3 Arcu accumsan
            p
              | Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
          li.icon.fa-laptop
            h3 Ac Augue Eget
            p
              | Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
          li.icon.fa-code
            h3 Mus Scelerisque
            p
              | Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
          li.icon.fa-headphones
            h3 Mauris Imperdiet
            p
              | Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
          li.icon.fa-heart-o
            h3 Aenean Primis
            p
              | Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
          li.icon.fa-flag-o
            h3 Tortor Ut
            p
              | Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.

    // CTA
    spectral-section#cta(
      :type="4"
      header="Join the fight?"
      :major="false"
      content="Just one click away! Go fight!"
      :actions-stacked="[{primary: true, href: '/arena/programming', label: 'Fight'},{href: '/about', label: 'About Us'}]"
    )

    // Footer
    footer#footer
      //- ul.icons
      //-   li
      //-     a.icon.fa-twitter(href="#")
      //-       span.label Twitter
      //-   li
      //-     a.icon.fa-facebook(href="#")
      //-       span.label Facebook
      //-   li
      //-     a.icon.fa-instagram(href="#")
      //-       span.label Instagram
      //-   li
      //-     a.icon.fa-dribbble(href="#")
      //-       span.label Dribbble
      //-   li
      //-     a.icon.fa-envelope-o(href="#")
      //-       span.label Email
      ul.copyright
        li © The Rye Team
        li
          | Design: 
          a(href="http://html5up.net") HTML5 UP
</template>

<script>
import moment from 'moment'

import SpectralMenu from '@/components/landing/SpectralMenu'
import SpectralHeader from '@/components/landing/SpectralHeader'
import SpectralBanner from '@/components/landing/SpectralBanner'
import SpectralSection from '@/components/landing/SpectralSection'

import {eventBus, httpCfg} from '~/util/util'

export default {
  layout: 'spectral',
  components: {
    SpectralMenu,
    SpectralHeader,
    SpectralBanner,
    SpectralSection
  },
  data () {
    return {
      title: 'Home',
      loading: true,
      mobile: false,
      menu: false,
      altMenu: true,
      allLeagues: [],
      inComingLeagues: [],
      activeLeagues: []
    }
  },
  head () {
    return {
      title: this.title
    }
  },
  computed: {
    landingClasses() {
      const classes = ['landing']
      if (this.$vuetify.breakpoint.xsOnly) {
        classes.push('is-mobile')
      }
      if (this.loading) {
        classes.push('is-preload')
      }
      if (this.menu) {
        classes.push('is-menu-visible')
      }
      return classes
    }
  },
  watch: {
    allLeagues (val) {
      this.activeLeagues = []
      this.inComingLeagues = []
      let ts = +new Date()
      this.inComingLeagues =
        val.filter(l => l.start * 1000 > ts)
      this.activeLeagues = 
        val.filter(l => l.isActive)
      this.sortLeagues()
    }
  },
  mounted() {
    this.loading = true;
    this.$axios.get('/v1/leagues', httpCfg)
      .then(this.processLeaguesData)
      .finally(() => {
        setTimeout(() =>{
          this.loading = false
        }, 500)
      })
  },
  methods: {
    processLeaguesData(res) {
      this.allLeagues = res.data
    },
    bannerScroll(e) {
      const st = window.scrollY
      const eoffset = e.target.getElementById('one').offsetTop
      this.altMenu = eoffset - st > 0
    },
    invalidate(e) {
      if (this.menu && e.target.id === 'page-wrapper') {
        this.menu = false
      }
    },
    sortLeagues () {
      if (this.inComingLeagues && this.inComingLeagues.length > 1) {
        this.inComingLeagues = this.inComingLeagues.sort((a, b) => {
          return a.start - b.start
        })
      }
      if (this.activeLeagues && this.activeLeagues.length > 1) {
        this.activeLeagues = this.activeLeagues.sort((a, b) => {
          return a.end - b.end
        })
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
#footer
  padding 6em 0 4em 0
  background-color #1d242a
  text-align center
  .icons
    font-size 1.25em
    a
      color rgba(255, 255, 255, 0.5)
      &:hover
        color #fff
  .copyright
    color rgba(255, 255, 255, 0.5)
    font-size 0.8em
    letter-spacing 0.225em
    list-style none
    padding 0
    text-transform uppercase
    li
      border-left solid 1px rgba(255, 255, 255, 0.5)
      display inline-block
      line-height 1em
      margin-left 1em
      padding-left 1em
      &:first-child
        border-left 0
        margin-left 0
        padding-left 0
      a
        color inherit
        &:hover
          color #fff

@media screen and (max-width: 480px)
  #footer
    .copyright
      li
        border 0
        display block
        line-height 1.65em
        margin 0
        padding 0.5em 0

@media screen and (max-width: 980px)
  #footer
    padding 4em 3em 2em 3em

@media screen and (max-width: 736px)
  #footer
    padding 3em 2em 1em 2em


#page-wrapper
  background-image -moz-linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/spectral/images/marvel.jpg")
  background-image -webkit-linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/spectral/images/marvel.jpg")
  background-image -ms-linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/spectral/images/marvel.jpg")
  background-image linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/spectral/images/marvel.jpg")
  background-attachment fixed
  background-position center center
  background-repeat no-repeat
  background-size cover
  padding-top 0
#footer
  background-color rgba(29, 36, 42, 0.9)

#landing  
  &.is-mobile.landing
    #page-wrapper
      background none
    #footer
      background-color #1d242a
</style>
