<template lang="pug">
  v-container(grid-list-md text-xs-left)
    v-layout(row wrap)
      v-flex(d-flex sm12 md4)
        v-card(style="height: 100%;")
          v-img(v-bind:src="item.image" height="300px")
          v-card-title.title.pt-4(primary-title)
            div(style="width: 100%;")
              h5(style="text-align: left; width: 100%; font-weight: 300;") Time: Comming soon!
              div(style="float: left; width: 80%; text-align: left; margin-top: 2%;")
                h3.headline.mb-0 {{ this.$route.params.id }}
                h3(style="font-weight: 300; font-size: 11pt;") {{ item.author }}
          v-card-text.md.pt-2.mb-4
            div(v-html="item.description?marked(item.description):''")
          v-card-actions(style='position: absolute; bottom: 0; width: 100%; padding: 10px;')
            v-spacer
            span.card-meta
              v-icon(small color="dark") face </v-icon> {{ item.vote }}
            span.card-meta
              v-btn(style="float: right;" color="blue darken-1" flat @click="voteCourse()" :disabled="!isAuth") Vote
      v-flex(d-flex sm12 md8)
        div
          v-data-table(v-bind:headers="headers"
            v-bind:pagination.sync="pagination"
            :total-visible="10"
            :items="item.participants"
            hide-actions
            class="elevation-1")
            template(slot="headerCell" slot-scope="props")
              v-tooltip(bottom)
                span(slot="activator") {{ props.header.text }}
                span {{ props.header.text }}
            template(slot="items" slot-scope="props")
              td.text-xs-center {{ props.item.name }}
              td.text-xs-center {{ props.item.email }}
          div.text-xs-center.pt-2
            v-pagination(circle v-model="pagination.page" :length="pages")
</template>

<script>
import {eventBus, httpCfg} from '~/util/util'
import axios from 'axios'
import {mapGetters} from 'vuex'

let goAddr = process.env.TRAINING_SERVER_ADDRESS

export default {
  data () {
    return {
      headers: [
        { text: 'Name', value: 'name', align: 'center' },
        { text: 'Email', value: 'email', align: 'center', sortable: 'false' }
      ],
      item: {},
      page: 0,
      pagination: {
        rowsPerPage: 15
      }
    }
  },
  computed: {
    ...mapGetters(['authUser']),
    isAuth () {
      return this.authUser && this.authUser.uid
    },
    pages () {
      return this.page
    }
  },
  mounted (params) {
    this.$axios.$get(`${goAddr}/courses/` + this.$route.params.id, httpCfg)
      .then((res) => {
        if (res) {
          this.item = res
          if (res.participants == null) {
            this.page = 1
          } else {
            this.page = Math.floor(res.participants.length / 11) + 1
          }
        }
      })
      .catch((err) => {
        console.error('Error getting data', err)
        eventBus.snackbarShown({type: 'error', msg: `Failed to load course ${err}`})
      })
  },
  methods: {
    voteCourse () {
      for (let i = 0; i < this.item.participants.length; i++) {
        if (this.authUser.uid + '@tma.com.vn' === this.item.participants[i].email) {
          eventBus.snackbarShown({type: 'error', msg: 'You have already voted'})
          return
        }
      }
      axios.post(`${goAddr}/courses/vote`, {
        Name: this.$route.params.id,
        Participants: [
          {
            name: this.authUser.name,
            email: this.authUser.uid + '@tma.com.vn'
          }
        ]
      }, httpCfg)
        .then((res) => {
          eventBus.snackbarShown({type: 'success', msg: 'Vote successfully'})
          if (this.item.name === res.data.name) {
            var newParticipant = {
              name: this.authUser.name,
              email: this.authUser.uid + '@tma.com.vn'
            }
            this.item.participants.push(newParticipant)
            this.item.vote += 1
          }
        })
        .catch((err) => {
          eventBus.snackbarShown({type: 'error', msg: `Failed to vote: ${err}`})
        })
    }
  }
}
</script>