<template lang="pug">
  v-dialog(v-model="dialog"
    transition="dialog-bottom-transition"
    :overlay="false"
    max-width="1200"
    lazy)
    v-layout
      v-flex.xs12
        v-card.pb-2
          v-card-title
            span.headline Challenge JSON
          v-card-text.pt-0
            pre.json(v-if="data") {{ data | toPrettyJSON }}
            span.subheading(v-else) No JSON data
          v-card-actions
            v-spacer
            v-btn.mr-3(color="info" @click="dialog = false") Ok
</template>

<script>
import {eventBus} from '~/util/util'

export default {
  name: 'challenge-json-modal',
  data () {
    return {
      dialog: false,
      data: null
    }
  },
  mounted () {
    eventBus.$on('showChallengeJsonModal', (data) => {
      this.data = data
      this.dialog = true
    })
  }
}
</script>

<style scoped>
  pre.json {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    background-color: black;
    padding: 10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
</style>