<template lang="pug">
  v-layout(fill-height v-bind='{column: true}')
    v-toolbar
      v-tooltip(top class="ml-0")
        v-btn(flat fab small @click.stop="toggleInstructionPanel" slot="activator")
          v-icon {{ toggleInstructionIcon }}
        span Toggle instruction panel
      v-spacer
      v-select(
        :items='languages'
        v-model='slLanguage'
        :prepend-icon='langIcon(editor.language)'
        single-line
        solo
        dense
        class="sl-lang"
        style="max-width: 220px")
        template(slot='item' slot-scope='data')
          v-list-tile-avatar
            v-icon(small) {{ langIcon(data.item) }}
          v-list-tile-content(v-text='data.item')
    v-flex(style="width: 100%; height: 100%")
      no-ssr(placeholder="Code editor is loading")
        brace(style="height:100%"
          :value='currentTemplate'
          :fontsize="editor.fontSize"
          :theme="editor.theme"
          :mode="editorMode()"
          :codefolding="'markbegin'"
          :softwrap="'free'"
          :selectionstyle="'text'"
          :highlightline="true"
          @codeChange='updateCode')
    v-flex
      v-card
        v-card-actions
          v-btn(flat fab small @click.stop="toggleConsolePanel")
            v-icon {{ toggleConsoleIcon }}
          h3 Console
          h3(v-if="successMsg || errorMsg" ) |
          h3(v-if="successMsg" style="color: #00C853") Success
          h3(v-if="errorMsg" style="color: #D50000") Error
          v-spacer
          v-tooltip(top :disabled="isAuth")
            v-btn(color='info' @click.stop='testCode' 
              :disabled='!isAuth || !editor.language || !editor.code || loadingTest' 
              :loading='loadingTest' slot='activator') Test
            span Please login first
    v-flex(v-if="console")
      div(class="console")
        pre(v-if='!errorMsg && !successMsg') No output yet. Please run test to check your solution first!
        pre(v-if='errorMsg') {{ errorMsg }}
        pre(v-if='successMsg') {{ successMsg }}
        div(style="position: absolute; right: 10px; bottom: 10px;" v-if="console && (errorMsg || successMsg)")
          v-tooltip(top)
            v-btn(fab flat small class="mr-3" color='error' @click.stop='clearConsole' slot="activator")
              v-icon(small) delete
            span Clear console
</template>

<script>
import {eventBus, httpCfg} from '~/util/util'
import {mapGetters, mapMutations} from 'vuex'

export default {
  props: [ 'challenge' ],
  data () {
    return {
      editor: {
        language: null,
        code: '',
        fontSize: '16px',
        theme: 'monokai'
      },
      slLanguage: null,
      toggleInstructionIcon: 'first_page',
      console: false,
      toggleConsoleIcon: 'expand_more',
      errorMsg: '',
      successMsg: '',
      loadingTest: false,
      currentTemplate: '',
      currentFixture: ''
    }
  },
  computed: {
    ...mapGetters(['instructionPanel', 'authUser', 'settings']),
    isAuth () {
      return this.authUser && this.authUser.uid && true // Need && true here to force boolean type
    },
    languages () {
      return (this.challenge.codes || [])
        .sort((a, b) => {
          return a.language > b.language
        })
        .map((s) => {
          return s.language[0].toUpperCase() + s.language.substring(1)
        })
    }
  },
  watch: {
    'settings' (val) {
      let s = JSON.parse(JSON.stringify(val))
      this.editor.fontSize = s.editor.fontSize
      this.editor.theme = s.editor.theme
      this.changeEditorLanguage(s.language)
    },
    slLanguage (val) {
      if (val) {
        this.editor.language = val.toLowerCase()
      }
    },
    instructionPanel (val) {
      this.toggleInstructionIcon = val ? 'first_page' : 'last_page'
    },
    console (val) {
      this.toggleConsoleIcon = val ? 'expand_less' : 'expand_more'
    },
    'editor.language' (val) {
      let sol = (this.challenge.codes || []).find((s) => {
        return s.language === val
      })
      this.currentTemplate = (sol || {}).template
    }
  },
  methods: {
    ...mapMutations(['toggleInstructionPanel']),
    editorMode () {
      let trans
      switch (this.editor.language) {
        case 'c':
        case 'cpp':
          trans = 'c_cpp'
          break
        case 'go':
          trans = 'golang'
          break
        case 'python3':
          trans = 'python'
          break
        default:
          trans = this.editor.language
      }
      return trans
    },
    changeEditorLanguage (lang) {
      for (let l of this.languages) {
        if (l.toLowerCase() === lang) { // The template is available for default language
          this.slLanguage = lang[0].toUpperCase() + lang.substring(1)
          return
        }
      }
      this.slLanguage = this.languages[0] // Default to first supported language
    },
    updateCode (val) {
      this.editor.code = val
    },
    toggleConsolePanel () {
      this.console = !this.console
    },
    clearConsole () {
      this.errorMsg = ''
      this.successMsg = ''
      this.console = false
    },
    testCode () {
      // console.log(JSON.stringify(this.editor.code))
      this.errorMsg = ''
      this.successMsg = ''
      this.loadingTest = true

      // Run test with pre-defined fixture
      this.$axios.post(`/v1/dev/fighters/preview/test`, {
        language: this.editor.language,
        code: this.editor.code,
        challenge: this.challenge
      }, httpCfg)
        .then((result) => {
          console.log(result)
          result = result.data
          this.loadingTest = false
          this.console = true
          if (result.failed) {
            this.errorMsg = result.stderr
            return
          }
          this.successMsg = result.stdout
        })
        .catch((err) => {
          console.log(err)
          eventBus.snackbarShown({type: 'error', msg: `Failed to test: ${err}`})
          this.errorMsg = `Failed to test: ${err}. \nPlease contact administrator if you repeatedly see this error.`
          this.loadingTest = false
          this.console = true
        })
    }
  },
  created () {
    setTimeout(() => {
      let s = JSON.parse(JSON.stringify(this.settings))
      this.editor.fontSize = s.editor.fontSize
      this.editor.theme = s.editor.theme
      this.changeEditorLanguage(s.language)
    }, 50)
  },
  mounted () {
    // default template
    this.currentTemplate = ((this.challenge.codes || []).find((s) => {
      return s.language === this.editor.language
    }) || {}).template

    setTimeout(() => {
      this.editor.fontSize = '16px'
    }, 50) // Delay so brace can re-render at client side
    this.toggleInstructionIcon = this.instructionPanel ? 'first_page' : 'last_page'
  }
}
</script>

<style scoped>
  .solution {
    border-radius: 5px;
    padding: 5px;
  }

  .runerror.info, .runok.success {
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  .console {
    background-color: black;
    font-family: "Courier New", Courier, monospace;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    font-size: 13px;
  }
</style>
