<template lang="pug">
  section.wrapper(:class="classes")
    .inner(v-if="type!==2")
      header(:class="major?'major':''")
        h2(v-html="header")
        p(v-html="content")
      ul.actions.stacked(v-if="actionsStacked && actionsStacked.length")
        li(v-for="action in actionsStacked" :key="action.href")
          a.button.fit(:class="action.primary?'primary':''" :href="action.href") {{action.label}}
    slot
</template>
<script>
export default {
  props: {
    type: {
      type: Number,
      required: true
    },
    header: {
      type: String,
      default: () => ''
    },
    major: {
      type: Boolean,
      default: () => true,
    },
    content: {
      type: String,
      default: () => ''
    },
    alt: {
      type: Boolean,
      default: () => false
    },
    center: {
      type: Boolean,
      default: () => false
    },
    actionsStacked: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    classes() {
      const classes = []
      classes.push(`style${this.type}`)
      if (this.alt) {
        classes.push('alt')
      }
      if (this.center) {
        classes.push('special')
      }
      return classes
    }
  }
}
</script>
