<template lang="pug">
  section#banner
    .inner
      h2 {{header}}
      p(v-html="content")
      ul.actions.special
        li
          nuxt-link.button.primary(:to="linkto") {{linktitle}}
          //- a.button.primary(@click="route") {{linktitle}}
    a.more.scrolly(v-if="more" @click="$vuetify.goTo(more.target)" style="cursor: pointer") {{more.text}}
</template>

<script>
export default {
  props: {
    header: {
      type: String,
      required: true
    },
    content: {
      type: String,
      default: () => ''
    },
    linktitle: {
      type: String,
      default: () => 'Activate'
    },
    linkto: {
      type: String,
      default: () => '#'
    },
    more: {
      type: Object,
      default: () => null
    }
  }
}
</script>
