<template lang="pug">
  header#header(:class="headerClasses")
    h1
      a(href="index.html") {{brand}}
    nav#nav
      ul
        li.special
          a.menuToggle(@click="$emit('menu-click')" style="cursor: pointer")
            span Menu
</template>

<script>
export default {
  props: {
    transparent: {
      type: Boolean,
      default: () => true
    },
    brand: {
      type: String,
      required: true
    }
  },
  computed: {
    headerClasses() {
      const classes = []
      if (this.transparent) {
        classes.push('alt')
      }
      return classes
    }
  }
}
</script>
